@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  text-shadow: 3px 3px 3px #00000068;
}

body {
  background-image: url(https://images2.alphacoders.com/644/644456.jpg);
  background-position: 30% 30%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-header {
  margin: 0;
  border: 0;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.552);
  /* background: rgb(67, 8, 106);
  background: linear-gradient(
    90deg,
    rgba(67, 8, 106, 0.3989663461538462) 0%,
    rgba(136, 42, 42, 0.3989663461538462) 100%
  ); */
  color: white;
  font-family: Nanum Gothic Coding;
  text-shadow: 0 2px #00000068;
  backdrop-filter: blur(01px);
}

.main-header-content {
  margin-top: 3rem;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.8rem;
}

.main-header img {
  display: flex;
  align-content: center;
  margin-top: 1rem;
  border-radius: 60px;
  height: 6rem;
  width: 6rem;
  object-fit: cover;
  filter: contrast(150%) grayscale(100%);
}

.main-header-title {
  display: flex;
  flex-direction: column;
}
.main-header-content h1 {
  margin-bottom: 0.7rem;
  text-align: right;
}
.main-header-content p {
  margin: 0;
  text-align: right;
  padding: 1px;
}

.main-nav ul {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  padding-left: 0%;
  justify-content: space-evenly;
  justify-items: center;
  font-size: 1.3rem;
  font-style: 400;
}

.main-nav a {
  text-decoration: none;
  color: white;
  text-align: center;
  margin: 1.3rem;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.card {
  margin-top: 1rem;
  padding: 0.9rem;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.552);
  backdrop-filter: blur(01px);
  color: white;
  font-family: Nanum Gothic Coding;
  display: flex;
  flex-direction: column;
}

.card h3 {
  border-top: 1px solid white;
}

.card a {
  text-decoration: none;
  color: white;
}

.main-gallery-illustration {
  display: flex;
  flex-direction: column;
}
.main-gallery-photograph {
  display: flex;
  flex-direction: column;
}

.main-gallery-illustration img {
  margin: 0.5rem;
  border-radius: 10px;
  height: 300px;
  width: 200px;
  object-fit: cover;
  align-self: center;
}

.main-gallery-photograph img {
  margin: 0.5rem;
  border-radius: 10px;
  height: 300px;
  width: 200px;
  object-fit: cover;
  align-self: center;
}

.main-contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-contact img {
  height: 50px;
  width: 50px;
}

/* breakpoint */

@media only screen and (min-width: 768px) {
  .main-header {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0.9rem;
    padding: 0 50px 0 50px;
    align-self: center;
  }
  .main-nav ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-weight: 400;
  }

  .main-header-content {
    align-items: center;
    margin-top: 0.9rem;
  }

  .card {
    display: flex;
    flex-direction: column;
  }

  .main-gallery-illustration {
    margin: 0.5rem;
    border-radius: 10px;
    /* height: 300px;
    width: 200px; */
    object-fit: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .main-gallery-photograph {
    margin: 0.5rem;
    border-radius: 10px;
    /* height: 300px;
    width: 200px; */
    object-fit: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
